
bluetoothprint/.vs/

bluetoothprint/bluetoothprint/bin/

bluetoothprint/bluetoothprint/obj/

bluetoothprint/bluetoothprint.Android/bin/

bluetoothprint/bluetoothprint.Android/obj/

bluetoothprint/bluetoothprint.iOS/obj/
